body {
  background-color: #212529;
}

h1 {
  font-family: "Ephesis", cursive;
  font-size: 60px;
  text-align: center;
}

h3 {
  font-family: "Dancing Script", cursive;
  color: rgb(86, 93, 93);
}
h3 {
  font-size: 25px;
  text-align: center;
}

.navbar-brand {
  font-family: "Ephesis", cursive;
  font-size: 28px;
  color: rgb(184, 184, 232);
}
.navigation-links {
  font-family: "Dancing Script", cursive;
  color: rgb(184, 184, 232);
}
.navbar {
  margin-bottom: 50px;
}
.hero {
  max-width: 100%;
  min-height: 750px;
  background-image: url(/photos/labrador.jpg);
  background-position: center center;
  background-size: cover;
}
.heading {
  float: left;
  padding: 30px;
}
.about-container {
  margin: 0 100px;
}
.about-h1 {
  margin-top: 80px;
  font-size: 70px;
}
.about-h1,
.about-p {
  color: white;
  text-align: center;
}
.about-img {
  display: block;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .heading {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .about-h1 {
    font-size: 50px;
  }
  .about-p {
    font-size: 16px;
  }
}
@media (min-width: 768px) {
  .about-img {
    max-width: 600px;
  }
  .about-p {
    font-size: 18px;
  }
}
@media (min-height: 880px) {
  .heading {
    position: absolute;
    top: 42%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
@media (min-height: 1000px) {
  .heading {
    position: absolute;
    top: 36%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
@media (min-height: 1200px) {
  .heading {
    position: absolute;
    top: 28%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
